# Travel Insurance

## 0. Описание

Суть датасета:

Туристическому страховому агенству необходимо принимать решения о выплате или невыплате страховой компенсации застрахованному лицу. Принять это решение могут помочь методы машинного обучения. Дана таблица, в которой описаны 63326 случаев страхования туристов агенством из Сингапура. В столбцах датасета представлена следующая информация о страховых случаях:

1. название агенства
2. тип агенства
3. способ поставки полиса туристического страхования
4. название полиса
5. сумма продаж полисов
6. продолжительность страхования
7. место путешествия
8. статус выплаты (совершена или нет)
9. комиссия, полученная агентством по страхованию путешествий
10. пол застрахованного лица
11. возраст застрахованного лица

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

## 1. Чтение данных

In [2]:
data_raw = pd.read_csv('./data_travel_insurance.csv')
data_raw.head(15)

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Net Sales,Commision (in value),Gender,Age
0,CBH,Travel Agency,Offline,Comprehensive Plan,No,186,MALAYSIA,-29.0,9.57,F,81
1,CBH,Travel Agency,Offline,Comprehensive Plan,No,186,MALAYSIA,-29.0,9.57,F,71
2,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,65,AUSTRALIA,-49.5,29.70,NaN,32
3,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,60,AUSTRALIA,-39.6,23.76,NaN,32
4,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,79,ITALY,-19.8,11.88,NaN,41
5,JZI,Airlines,Online,Value Plan,No,66,UNITED STATES,-121.0,42.35,F,44
6,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,47,UNITED STATES,-39.6,23.76,NaN,32
7,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,63,AUSTRALIA,-108.9,65.34,NaN,29
8,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,57,THAILAND,-19.8,11.88,NaN,44
9,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,186,AUSTRALIA,-99.0,59.40,NaN,37
10,JZI,Airlines,Online,Basic Plan,No,33,"KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF",-26.0,9.10,NaN,118
11,JZI,Airlines,Online,Basic Plan,No,1,MALAYSIA,-18.0,6.30,M,47
12,KML,Travel Agency,Online,Premier Plan,No,53,NORWAY,-130.0,49.40,F,48
13,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,5,MALAYSIA,-39.6,23.76,NaN,64
14,EPX,Travel Agency,Online,2 way Comprehensive Plan,No,39,VIET NAM,-25.0,0.00,NaN,36

Размер данных:

In [3]:
N, d = data_raw.shape
print(f"N = {N}\nd = {d}")

N = 63326
d = 11